.infobar {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.infobar__container {
    width: 80%;
    margin: 0 auto;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.info__box li{
    display: inline-block;
    font-size: 14px;
    border-right: 1px solid #eee;
    margin-right: 25px;
    padding-right: 25px;
    color: #7a7a7a;
}

.info__box li i{
    color: #f35525;
    font-size: 20px;
    margin-right: 5px;
}

.info__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info__social li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-radius: 50%;
    background-color: #b4b4b4;
    width: 30px;
    height: 30px;
    transition: 0.5s all;
}

.info__social li a{
    text-decoration: none;
    color: white;
}

.info__social li:hover {
    background-color: #3d3d3d;
}

@media screen and (max-width : 992px){
    .infobar {
        display: none;
    }
}