.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: brown;
    align-items: center;
    margin: 0 auto;
}

.navbar__menu {
    display: flex;
    justify-content: center;
}.navbar__container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 90px;
}

.navbar__logo {
    color: var(--Primary-Color);
}

.navbar__items {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar__items a {
    text-decoration: none;
    color: var(--Primary-Color);
}

.navbar__items a:hover {
    color: var(--Secondary-Color);
    transition: 0.3s;
}

.navbar__items__btn {
    display: flex;
    column-gap: 10px;
    align-items: center;
    background-color: var(--Primary-Color);
    color: white;
    border-radius: 20px;
    width: 180px;
    height: 30px;
}

.navbar__items__btn a{
    text-decoration: none;
    color: white;
}

.navbar__items__btn i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Secondary-Color);
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.navbar__items__btn:hover {
    background-color: var(--Secondary-Color);
    transition: 0.5s;
}

.navbar__items__btn a:hover {
    color: white;
    transition: 0.5s;
}

.menu__btn {
    display: none;
}

.items__menu {
    display: block;
    height: 0; 
    overflow: hidden;
    transform: translateX(-150%);
    transition: 0.7s all
}

.items__menu.active {
    height: auto;
    width: 100%;
    transform: translateX(0%);
    transition: 0.7s all;
}


@media screen and (max-width: 1170px) { 

    .navbar__items{
        display: none;
    }

    .menu__btn {
        display: flex;
        border: none;
        font-size: 20px;
    }

    .items__menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        row-gap: 15px;
        margin: 20px;
    }
    
    .items__menu.active li a{
        text-decoration: none;
        color: var(--Secondary-Color);
        font-weight: bold;
    }

    .items__menu.active li a:hover{
        color: var(--Primary-Color);
        transition: 0.5s;
    }
    
}