.footer {
    display: flex;
    align-items: center;
    margin-top: 100px;
    background-color: #1e1e1e;
    min-height: 100px;
}

.footer__container {
    width: 100%;
    padding-left: 30px;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}

@media screen and (max-width : 992px) { 
    .footer__container {
    font-size: 12px;
    }

}